<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'over'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="{{getHomePage()}}"
         (click)="drawer.toggle()">
        <mat-icon color="primary">home</mat-icon>
        Accueil
      </a>
      <a mat-list-item *ngIf="isLogin()" routerLink="/profile"
         (click)="drawer.toggle()">
        <mat-icon color="primary">portrait</mat-icon>
        Mon Profil
      </a>
      <a mat-list-item *ngIf="isLogin()" routerLink="/agenda"
         (click)="drawer.toggle()">
        <mat-icon color="primary">event_note</mat-icon>
        Mes Rendez-vous
      </a>
      <a mat-list-item *ngIf="isLogin()" routerLink="/"
         (click)="disconnect()"
         (click)="drawer.toggle()">
        <mat-icon color="warn">exit_to_app</mat-icon>
        Déconnection
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a class="ml-4 text-white text-decoration-none" routerLink="{{getHomePage()}}">
        StayHealthy
      </a>
    </mat-toolbar>
  <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
