<div class="container mt-4">
  <div class="login">
    <h1>Bienvenue</h1>
    <img src="assets/files/undraw_welcome_3gvl.png">
    <h3>Afin de gérer vos rendez-vous médicaux avec StayHealthy</h3>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value, loginForm.value.profile)">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput name="email" placeholder="Entrer votre email" type="email" ngModel required>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline">
        <mat-label>Mot de Passe</mat-label>
        <input matInput name="password" placeholder="Entrer votre mot de passe" type="password" ngModel required>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline">
        <mat-label>Profil</mat-label>
        <mat-select name="profile" ngModel>
          <mat-option value="patient">Patient</mat-option>
          <mat-option value="doctor">Médecin</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <div class="ml-2">
        <button mat-raised-button color="primary" type="submit">Connection</button>
      </div>
    </form>
  </div>
</div>

