<div class="search-form px-2 pt-3">
  <h2 class="ml-4">Recherchez un praticien</h2>
  <form (ngSubmit)="onSubmit()" class="m-3">
    <mat-form-field appearance="outline" class="mx-2">
      <mat-label>Spécialité</mat-label>
      <mat-select [formControl]="speciality">
        <mat-option value="cardiologue">Cardiologue</mat-option>
        <mat-option value="dentiste">Dentiste</mat-option>
        <mat-option value="dieteticien">Diététicien</mat-option>
        <mat-option value="dermatologue">Dermatologue</mat-option>
        <mat-option value="generaliste">Généraliste</mat-option>
        <mat-option value="gynecologue">Gynécologue</mat-option>
        <mat-option value="neurologue">Neurologue</mat-option>
        <mat-option value="psychologue">Psychologue</mat-option>
        <mat-option value="ophtalmologue">Ophtalmologue</mat-option>
        <mat-option value="orl">ORL</mat-option>
        <mat-option value="osteopathe">Ostéopathe</mat-option>
      </mat-select>
      <mat-error *ngIf="speciality.invalid">{{getSpecErrMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mx-2">
      <mat-label>Nom du médecin, Établissement</mat-label>
      <input matInput [formControl]="name" placeholder="Dupont, clinique ...">
    </mat-form-field>

    <mat-form-field appearance="outline" class="mx-2">
      <mat-label>Localité</mat-label>
      <input matInput placeholder="Bordeaux, Talence, ..."
             [formControl]="location" [matAutocomplete]="auto">
      <mat-error *ngIf="location.invalid">{{getLocationErrMessage()}}</mat-error>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let city of cities | async" [value]="city">
          {{city.city}} | {{city.code}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Chercher</button>
    <mat-error *ngIf="searchFailed !== ''">{{searchFailed}}</mat-error>
  </form>
</div>
