<script src="../sign-up/sign-up.component.ts"></script>
<div class="container mt-4">
  <div class="sign-up">
    <h1 class="text-center"><b>Modifier votre compte</b></h1>
    <h3 class="text-center">Gérer vos rendez-vous médicaux avec StayHealthy</h3>
    <form [formGroup]="updateForm" (ngSubmit)="updateForm.valid && isEqualPwd() && onSubmit()">

      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="firstName" placeholder="Entrer votre nom"  required>
        <mat-error *ngIf="updateForm.invalid">{{getNameErrMessage('firstName')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="ml-2">
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="lastName" placeholder="Entrer votre prénom" required>
        <mat-error *ngIf="updateForm.invalid">{{getNameErrMessage('lastName')}}</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Entrer votre email" type="email" required>
        <mat-error *ngIf="updateForm.invalid">{{getEmailErrMessage()}}</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline">
        <mat-label>Nouveau Mot de Passe</mat-label>
        <input matInput [type]="hide1 ? 'password' : 'text'"matInput formControlName="password" placeholder="Entrer votre mot de passe">
        <mat-error *ngIf="updateForm.invalid">{{getFieldErrMessage('password1')}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="ml-2">
        <mat-label>Retaper Mot de Passe</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'"matInput formControlName="password2" placeholder="Retaper votre mot de passe">
        <mat-error *ngIf="updateForm.invalid">{{getFieldErrMessage('password2')}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline">
        <mat-label>Téléphone</mat-label>
        <input matInput formControlName="tel" placeholder="Entrer votre numéro de téléphone"  required>
        <mat-error *ngIf="updateForm.invalid">{{getPhoneErrMessage()}}</mat-error>
      </mat-form-field>
      <br>

      <div formGroupName="address">
        <mat-form-field appearance="outline">
          <mat-label>Numéro et rue</mat-label>
          <textarea matInput formControlName="road" placeholder="Entrer votre Adresse"  required></textarea>
          <mat-error *ngIf="updateForm.invalid">{{getFieldErrMessage('road')}}</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline" class="ml-2">
          <mat-label>Code Postal</mat-label>
          <input matInput formControlName="postalCode" placeholder="Entrer votre code postal"  required>
          <mat-error *ngIf="updateForm.invalid">{{getFieldErrMessage('postalCode')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="ml-2">
          <mat-label>Commune</mat-label>
          <input matInput formControlName="city" placeholder="Entrer le nom de votre ville"  required>
          <mat-error *ngIf="updateForm.invalid">{{getFieldErrMessage('city')}}</mat-error>
        </mat-form-field>
        <br>
      </div>

      <div *ngIf="profile === 'doctor'">
        <mat-form-field appearance="outline" class="mx-2">
          <mat-label>Spécialité</mat-label>
          <mat-select formControlName="speciality" required>
            <mat-option value="cardiologue">cardiologue</mat-option>
            <mat-option value="dentiste">dentiste</mat-option>
            <mat-option value="dieteticien">Diététicien</mat-option>
            <mat-option value="dermatologue">Dermatologue</mat-option>
            <mat-option value="generaliste">Généraliste</mat-option>
            <mat-option value="gynecologue">Gynécologue</mat-option>
            <mat-option value="neurologue">Neurologue</mat-option>
            <mat-option value="psychologue">Psychologue</mat-option>
            <mat-option value="ophtalmologue">Ophtalmologue</mat-option>
            <mat-option value="orl">ORL</mat-option>
            <mat-option value="osteopathe">Ostéopathe</mat-option>
          </mat-select>
          <mat-error *ngIf="updateForm.invalid">{{getSpecialityErrMessage()}}</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
          <mat-label>Diplômes obtenus</mat-label>
          <mat-chip-list #diplomaList>
            <mat-chip *ngFor="let diploma of diplomas" (removed)="remove(diploma, diplomas)">
              {{diploma}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Diplôme1, Diplôme2, ..."
                   [matChipInputFor]="diplomaList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="add($event, diplomas)">
          </mat-chip-list>
        </mat-form-field>
        <br>

        <mat-form-field>
          <mat-label>Tarifs</mat-label>
          <mat-chip-list #priceList>
            <mat-chip *ngFor="let price of prices" (removed)="remove(price, prices)">
              {{price}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Service1:25€, Service2:30€, ..."
                   [matChipInputFor]="priceList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="add($event, prices)">
          </mat-chip-list>
        </mat-form-field>
        <br>

        <mat-form-field>
          <mat-label>Moyens de paiement</mat-label>
          <mat-chip-list #meansOfPaymentList>
            <mat-chip *ngFor="let payment of meansOfPayment"
                      (removed)="remove(payment, meansOfPayment)">
              {{payment}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="CB, Carte Vitale, ..."
                   [matChipInputFor]="meansOfPaymentList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="add($event, meansOfPayment)">
          </mat-chip-list>
        </mat-form-field>
        <br>
      </div>

      <div class="m-2 text-center">
        <button mat-raised-button color="primary" type="submit">Enregistrer</button>
        <mat-error *ngIf="updateFailed !== ''">{{updateFailed}}</mat-error>
        <button class="m-2" mat-raised-button color="warn" (click)="deleteAccount()" type="button">
          Supprimer le compte
        </button>
      </div>
    </form>
  </div>

</div>
