<div class="container mt-4">
  <div *ngIf="doctor" class="username">
    <ngx-avatar name={{doctor.firstName}}></ngx-avatar>
    <p><strong>Bienvenue Dr {{doctor.firstName}}</strong></p>
  </div>
  <div class="calendar">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-success"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
          >
            Précédent
          </div>
          <div
            class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate"
          >
            Aujourd'hui
          </div>
          <div
            class="btn btn-success"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
          >
            Suivant
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>
          {{ viewDate | calendarDate:(view + 'ViewTitle'):locale:weekStartsOn }}
        </h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-success"
            (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month"
          >
            Mois
          </div>
          <div
            class="btn btn-success"
            (click)="setView(CalendarView.Week)"
            [class.active]="view === CalendarView.Week"
          >
            Semaine
          </div>
          <div
            class="btn btn-success"
            (click)="setView(CalendarView.Day)"
            [class.active]="view === CalendarView.Day"
          >
            Jour
          </div>
        </div>
      </div>
    </div>
    <br />

    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        [locale]="locale"
        [weekStartsOn]="weekStartsOn"
        [weekendDays]="weekendDays"
        [activeDayIsOpen]="true"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="eventClicked($event)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [dayStartHour]="8"
        [dayEndHour]="19"
        [events]="events"
        [locale]="locale"
        [weekStartsOn]="weekStartsOn"
        [weekendDays]="weekendDays"
        (eventClicked)="eventClicked($event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [dayStartHour]="8"
        [dayEndHour]="19"
        [events]="events"
        [locale]="locale"
        (eventClicked)="eventClicked($event)"
      >
      </mwl-calendar-day-view>
    </div>

  </div>

  <div class="add-event m-4 text-center">
    <mat-form-field class="mr-4" appearance="outline">
      <mat-label>Choisissez une date</mat-label>
      <input matInput [min]="viewDate" [matDatepickerFilter]="sundayFilter" [matDatepicker]="picker" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="time" appearance="outline">
      <mat-label>hh</mat-label>
      <mat-select required>
        <mat-option *ngFor="let h of hours"  value="h">{{h}} h</mat-option>
      </mat-select>
    </mat-form-field> :

    <mat-form-field class="time mr-4" appearance="outline">
      <mat-label>mm</mat-label>
      <mat-select required>
        <mat-option *ngFor="let m of minutes"  value="{{m}}">{{m}} mn</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Ajouter un créneau</button>
  </div>
</div>
