<div class="container mt-4">
  
  <div *ngIf="doctor" class="container" style="display: flex; justify-content: center">
    <ngx-avatar  name={{doctor.firstName}}></ngx-avatar>
  </div>
  <p *ngIf="doctor" style="text-align: center;"><strong><span style="font-size: 18px; font-family: Calibri, sans-serif;">Bienvenue Dr {{doctor.firstName}}</span></strong></p>


  <h2>Calendrier en maintenance</h2>

  <div>
    <app-calendar></app-calendar>
  </div>

  <!-- <img style="position: absolute; left: 0; bottom: 0;" src="assets/files/doctors.png"> -->
</div>

<style>
  /*
  Limited in width,
  useful with grow mode proportional
  or grow mode mixed
*/
.wrapper-horizontally-limited {
  width: 500px;
}
 
/*
  Limited in height,
  useful with grow mode stretch
*/
.wrapper-vertically-limited {
  width: 100%;
  height: 500px;
}
</style>