<div id="map"></div>
<div class="search-form px-2 pt-3 mat-elevation-z6">
  <h2 class="ml-4">Recherchez un praticien</h2>
  <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm.value)" class="m-3">
    <mat-form-field appearance="outline" class="mx-2">
      <mat-label>Spécialité</mat-label>
      <mat-select name="speciality" ngModel required>
        <mat-option value="cardiologue">cardiologue</mat-option>
        <mat-option value="dentiste">dentiste</mat-option>
        <mat-option value="dieteticien">Diététicien</mat-option>
        <mat-option value="dermatologue">Dermatologue</mat-option>
        <mat-option value="generaliste">Généraliste</mat-option>
        <mat-option value="gynecologue">Gynécologue</mat-option>
        <mat-option value="neurologue">Neurologue</mat-option>
        <mat-option value="psychologue">Psychologue</mat-option>
        <mat-option value="ophtalmologue">Ophtalmologue</mat-option>
        <mat-option value="orl">ORL</mat-option>
        <mat-option value="osteopathe">Ostéopathe</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mx-2">
      <mat-label>Nom du médecin, Établissement</mat-label>
      <input matInput name="search" placeholder="Dupont, clinique ..." ngModel required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mx-2">
      <mat-label>Localité</mat-label>
      <input matInput name="region" placeholder="Bordeaux, Talence, ..." ngModel required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Chercher</button>
  </form>

</div>
